#father {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
#father .son {
  height: 500px;
  width: 500px;
  background-size: 500px 500px;
}
#father .son1 {
  background-image: url('猪猪1.JPG');
}
#father .son2 {
  background-image: url('猪猪2.JPG');
}
#father .son3 {
  background-image: url('猪猪3.JPG');
}
